# .gitignore

# Node related ignores
node_modules/
npm-debug.log

# Environment variables
.env

# build and dist directory
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE related ignores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

log